.dinig-filter {
  margin-top: 30px;
}

.goldicon {
  height: 18px;
  width: 18px;
}

.dinig-banner {
  height: 16rem;
  width: 70rem;
  margin: 20px 80px 20px 80px;
  object-fit: cover;
}

.dinig-banner img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 760px) {
  .dinig-banner {
    height: 11rem;
    width: 29rem;
    margin: 20px 0px 0px 10px;
  }
}
